<!DOCTYPE html>
<style type="text/css">
* {cursor: none;}
html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
p {
    margin: 0;
}
#all{
  height:100%;
  width:100%;
  margin: auto;
  font-family: {{font}};
  font-size: {{size}};
  background-color: {{bg_color}};
  color: {{color}};
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#all img{
    zoom: 8;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
</style>
<body>
<div id="all">
    {% if pagenumber %}
    <p id="pagenumber"></p>
    {% endif %}
    <span id="text">
    </span>
</div>
</body>
<script type="text/javascript">
var slides = [
{% for slide in slides %}
    "{{slide}}",
{% endfor %}
];
var i = 0;
function nextslide(e){
    if (e.keyCode == 37 && i>0){
      i--;
    }
    else if (e.keyCode == 27){
      i = 0;
    } else if (e.keyCode != 37 && i<slides.length-1){
      i++;
    }
  document.getElementById("text").innerHTML = slides[i];
  {% if pagenumber %}
  document.getElementById("pagenumber").innerHTML = i+1;
  {% endif %}
}
document.getElementById("text").innerHTML = slides[0];
document.getElementById("all").onclick = nextslide
document.onkeypress = nextslide
</script>
